#include "resource.h"
#include "windows.h"

IDI_BOOK_ICON ICON "res\\icons\\from_www.clker.com\\bookcoloured.ico"

FileAccel ACCELERATORS
BEGIN 
  "N", ID_FILE_NEW, CONTROL, VIRTKEY
  "T", ID_TAB_NEW, CONTROL, VIRTKEY
  "O", ID_FILE_OPEN, CONTROL, VIRTKEY
  "O", ID_FILE_OPEN_WIN, CONTROL, SHIFT, VIRTKEY
  "S", ID_FILE_SAVE, CONTROL, VIRTKEY
  "S", ID_FILE_SAVE_AS, CONTROL, ALT, VIRTKEY
  "W", ID_FILE_CLOSE, CONTROL, VIRTKEY
  "Q", ID_FILE_EXIT, CONTROL, VIRTKEY
END

EditAccel ACCELERATORS
BEGIN
  "Z", ID_EDIT_UNDO, CONTROL, VIRTKEY
  "Y", ID_EDIT_REDO, CONTROL, VIRTKEY
  "X", ID_EDIT_CUT, CONTROL, VIRTKEY
  "C", ID_EDIT_COPY, CONTROL, VIRTKEY
  "V", ID_EDIT_PASTE, CONTROL, VIRTKEY
END

SearchAccel ACCELERATORS
BEGIN
  "F", ID_FIND, CONTROL, VIRTKEY
  VK_F3, ID_FIND_PREV, VIRTKEY
  VK_F4, ID_FIND_NEXT, VIRTKEY
  "G", ID_GOTO, CONTROL, VIRTKEY
  VK_ESCAPE, ID_CMDED, VIRTKEY
END

ViewAccel ACCELERATORS
BEGIN
  "W", ID_VIEW_WRAP, ALT, VIRTKEY
  0xBD, ID_VIEW_FOLDALL, ALT, VIRTKEY
  0xBB, ID_VIEW_UNFOLDALL, ALT, VIRTKEY
  "L", ID_VIEW_SHOWEOL, CONTROL, ALT, VIRTKEY
END

IDD_FIND_DIALOG DIALOG 0, 0, 114, 50
STYLE DS_CENTER | WS_VISIBLE
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Find"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDC_FIND_TEXT, 25, 8, 82, 14, ES_AUTOHSCROLL
    LTEXT           "Find", IDC_FIND_LABEL, 5, 11, 14, 8, SS_LEFT
    DEFPUSHBUTTON   "&Find", IDC_FIND_FINDBUTTON, 5, 29, 49, 14
    PUSHBUTTON      "&Cancel", IDC_FIND_CANCELBUTTON, 59, 29, 49, 14
END

IDD_GOTO_DIALOG DIALOG 0, 0, 114, 50
STYLE DS_CENTER | WS_VISIBLE
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Goto"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDC_GOTO_TEXT, 25, 8, 82, 14, ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Goto", IDC_GOTO_LABEL, 5, 11, 14, 8, SS_LEFT
    DEFPUSHBUTTON   "&Goto", IDC_GOTO_FINDBUTTON, 5, 29, 49, 14
    PUSHBUTTON      "&Cancel", IDC_GOTO_CANCELBUTTON, 59, 29, 49, 14
END

IDD_ABOUT DIALOG DISCARDABLE  0, 0, 150, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About CodeAssistor"
FONT 8, "MS Sans Serif"
BEGIN

    GROUPBOX        "CodeAssistor",IDC_STATIC,7,7,137,52
    CTEXT           "__VERSION (__RELEASE)\r\nCopyright : Author - Michael Mullin\r\nBSD Licenced\r\n(see LICENCE.txt)",
                    IDC_STATIC,16,18,121,33
END

IDD_RELOAD DIALOG 0, 0, 182, 60
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "External File Change"
FONT 8, "MS Sans Serif"
{
    DEFPUSHBUTTON   "&Update", IDOK, 126, 7, 50, 14
    PUSHBUTTON      "&Keep Mine", IDCANCEL, 126, 24, 50, 14
    LTEXT           "Would you like to update, or keep your copy?\r\n\r\nWARNING: Chosing to update will discard any changes you have made",
      IDC_STATIC, 3, 7, 114, 90, SS_LEFT
}
